h1{
    background-color:lightgray;
    color:purple;
}
ol{
    list-style-type:upper-latin;   
    }
ul{
    list-style-type: circle;
}
h2{
    color: #069;
    text-decoration: underline;
}
p{
    text-indent: 20px;
}
dt{
    font-weight: bold;
} 
dd{
    font-style: italic;
}
caption{
    font-style: italic;
    text-transform: uppercase;
}
table{
    empty-cells: hide;
    border-color: purple;
    border-width: 5px;
}
th{
    background-color: lightgray;
    border-style:dashed;
}
span{
    font-weight: bold;
    cursor: wait;
}









